# Dependencies
node_modules/

# Environment variables
.env
!.env.example

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store

# VS Code
.vscode/

# Backend
backend/node_modules/
backend/inventory.db

# Frontend
frontend/node_modules/
frontend/dist/